@import "../global";
.footer{
    padding-top: 150px;
    position: relative;
    &__leafe-1{
        position: absolute;
        top: -59px;
        left: 83px;
    }
    &__leafe-2{
        position: absolute;
        bottom: 167px;
        right: 50px;
        transform: rotate(230deg);
    }
    &__row{
        justify-content: space-between;
    }
    &__column{
        margin-right: 100px;
        &:last-child{
            margin-right: 0;
        }
        li:not(:last-child){
            margin-bottom: 22px;
        }
        &__link{
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 34px;
            color: $color-darkGreen;
            font-weight: 400;
            font-family: "Bebas Neue";
        }
    }
    &__title{
        margin-bottom: 32px;
        font-size: 16px;
        letter-spacing: 3px;
        color: $color-green;
        font-weight: 700;
        font-family: "Bebas Neue";
    }
    &__social{
        margin-bottom: 35px;
        margin-left: -7px;
        &__img{
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    &__instagramm{
        max-width: 350px;
        &__img{
            background: #a8acb9;
            border-radius: 5px;
            width: 70px;
            height: 70px;
            margin: 0 20px 20px 0;
        }
    }

}
